.container{
    max-width: 120rem;
    background-color: var(--color-grey-light-1);
    margin: 8rem auto;
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
} 

.header {
    font-size:1.4rem;
    height: 7rem;
    background-color: white;
    border-bottom: 1px solid var(--color-grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display:flex;   
}

.side-bar {
background-color: var(--color-grey-dark-1);
flex: 0 0 18%; //grow shrink flex-basis(width)
}

.hotel-view{
background-color: white;
flex:1;
//Testing
height:150rem;
}